In [2]:
import pandas as pd
from datetime import datetime

In [19]:
# Read .csv 
all_weather_data = pd.read_csv("/Users/eleshuk/Library/CloudStorage/GoogleDrive-eleshuk@gmail.com/.shortcut-targets-by-id/1XNkQR60z1T7WELqvqkvZchRrVWQpCzvs/data_science_project/Project Template/data/interim/Weather/20241229_all_weather_data.csv")

In [20]:
# Drop first four columns
all_weather_df = all_weather_data.drop(all_weather_data.columns[:4], axis=1)
all_weather_df.head()

,date,temperature_2m_max,temperature_2m_min,precipitation_sum,municipality,latitude,longitude
0,2016-01-01 00:00:00+00:00,15.816500,9.616501,10.2,Abrantes,39.43,-8.16
1,2016-01-02 00:00:00+00:00,13.966499,7.316500,0.1,Abrantes,39.43,-8.16
2,2016-01-03 00:00:00+00:00,16.216500,8.816500,3.5,Abrantes,39.43,-8.16
3,2016-01-04 00:00:00+00:00,16.016500,10.816500,9.6,Abrantes,39.43,-8.16
4,2016-01-05 00:00:00+00:00,10.566500,6.516500,4.7,Abrantes,39.43,-8.16

In [21]:
all_weather_df['date'] = pd.to_datetime(all_weather_df['date']).dt.strftime('%Y-%m-%d')

In [22]:
# Write to .csv
path = "/Users/eleshuk/Library/CloudStorage/GoogleDrive-eleshuk@gmail.com/.shortcut-targets-by-id/1XNkQR60z1T7WELqvqkvZchRrVWQpCzvs/data_science_project/Project Template/data/processed/Weather/cleaned_weather_data.csv"
all_weather_df.to_csv(path,index=False)

In [23]:
# Write to .csv
path = "/Users/eleshuk/Library/CloudStorage/GoogleDrive-eleshuk@gmail.com/.shortcut-targets-by-id/1XNkQR60z1T7WELqvqkvZchRrVWQpCzvs/data_science_project/Project Template/data/processed/Weather/cleaned_weather_data.csv"
weather_data = pd.read_csv(path)

In [29]:
# Add municipality ID
weather_data['MunicipalityID'] = pd.factorize(all_weather_df['municipality'])[0]

,date,temperature_2m_max,temperature_2m_min,precipitation_sum,municipality,latitude,longitude,MunicipalityID
1005371,2024-12-25,16.666500,8.766500,0.0,Óbidos,39.36,-9.19,303
1005372,2024-12-26,18.116501,8.266500,0.0,Óbidos,39.36,-9.19,303
1005373,2024-12-27,16.366501,7.516500,0.0,Óbidos,39.36,-9.19,303
1005374,2024-12-28,8.966499,8.966499,NaN,Óbidos,39.36,-9.19,303
1005375,2024-12-29,NaN,NaN,NaN,Óbidos,39.36,-9.19,303

In [30]:
weather_cleaned = weather_data.dropna()

In [32]:
weather_cleaned = weather_cleaned.rename(columns={"date": "Date", "temperature_2m_max": "TemperatureMax", "temperature_2m_min": "TemperatureMin","precipitation_sum": "Precipitation"})

,Date,TemperatureMax,TemperatureMin,Precipitation,municipality,latitude,longitude,MunicipalityID
0,2016-01-01,15.816500,9.616501,10.2,Abrantes,39.43,-8.16,0
1,2016-01-02,13.966499,7.316500,0.1,Abrantes,39.43,-8.16,0
2,2016-01-03,16.216500,8.816500,3.5,Abrantes,39.43,-8.16,0
3,2016-01-04,16.016500,10.816500,9.6,Abrantes,39.43,-8.16,0
4,2016-01-05,10.566500,6.516500,4.7,Abrantes,39.43,-8.16,0
...,...,...,...,...,...,...,...,...
1005369,2024-12-23,15.066500,7.866500,0.0,Óbidos,39.36,-9.19,303
1005370,2024-12-24,16.166500,7.416500,0.0,Óbidos,39.36,-9.19,303
1005371,2024-12-25,16.666500,8.766500,0.0,Óbidos,39.36,-9.19,303
1005372,2024-12-26,18.116501,8.266500,0.0,Óbidos,39.36,-9.19,303
1005373,2024-12-27,16.366501,7.516500,0.0,Óbidos,39.36,-9.19,303

In [34]:
# Drop specific columns
columns_to_drop = ['latitude', 'longitude']
weather_cleaned = weather_cleaned.drop(columns=columns_to_drop, axis=1)

In [36]:
# Write to .csv
path = "/Users/eleshuk/Library/CloudStorage/GoogleDrive-eleshuk@gmail.com/.shortcut-targets-by-id/1XNkQR60z1T7WELqvqkvZchRrVWQpCzvs/data_science_project/Project Template/data/interim/Weather/cleaned_weather_data_wrong_municipalitiesID.csv"
weather_cleaned.to_csv(path,index=False)