In [8]:
import pandas as pd
from datetime import datetime

In [2]:
# Read .csv 
all_weather_data = pd.read_csv("/Users/eleshuk/Library/CloudStorage/GoogleDrive-eleshuk@gmail.com/.shortcut-targets-by-id/1XNkQR60z1T7WELqvqkvZchRrVWQpCzvs/data_science_project/Project Template/data/raw/Weather/20241229_all_weather_data.csv")

In [9]:
# Drop first four columns
all_weather_df = all_weather_data.drop(all_weather_data.columns[:4], axis=1)

In [17]:
all_weather_df['date'] = pd.to_datetime(all_weather_df['date']).dt.strftime('%Y-%m-%d')

,date,temperature_2m_max,temperature_2m_min,precipitation_sum,municipality,latitude,longitude
1005371,2024-12-25,16.666500,8.766500,0.0,Óbidos,39.36,-9.19
1005372,2024-12-26,18.116501,8.266500,0.0,Óbidos,39.36,-9.19
1005373,2024-12-27,16.366501,7.516500,0.0,Óbidos,39.36,-9.19
1005374,2024-12-28,8.966499,8.966499,NaN,Óbidos,39.36,-9.19
1005375,2024-12-29,NaN,NaN,NaN,Óbidos,39.36,-9.19

In [15]:
# Write to .csv
path = "/Users/eleshuk/Library/CloudStorage/GoogleDrive-eleshuk@gmail.com/.shortcut-targets-by-id/1XNkQR60z1T7WELqvqkvZchRrVWQpCzvs/data_science_project/Project Template/data/processed/Weather/cleaned_weather_data.csv"
all_weather_df.to_csv(path)